/* ------------------------------- Main layout ------------------------------ */

html, body {
	height: 100%
}

body {
	display: grid;
	grid-template-columns:1fr;
	grid-template-areas:
					"header"
					"main";
	grid-template-rows: 70px 1fr;

	margin: 0;
}

header {
	grid-area: header;
}

#main {
	grid-area: main;
}


/* --------------------------------- Header --------------------------------- */

header {
	display: grid;
	grid-template-columns: auto 90px;
	place-items: center;
}


/* ------------------------------- Form layout ------------------------------ */

#main {
	display: flex;
	flex-direction: column;
}


/* ---------------------------- Form hiding stuff --------------------------- */

#form > * {
	transition: all 0.5s ease-in-out;
}

#form > .display-none {
	display: none;
}

#form > .opacity-zero {
	opacity: 0;
}


/* --------------------------- Floating visualiser -------------------------- */

#results-box {
	width: 600px;
	height: 750px;

	position: fixed;
	bottom: 2em;
	right: -610px;

	transition: all 0.75s ease-in-out;
}

#results-box.show {
	right: 2em;
}

#results-box canvas {
	position: absolute;
	top: 0;
	z-index: -1;
}

.cam-buttons {
	display: flex;
	justify-content: space-evenly;
}

.room-info {
	position: absolute;
	bottom: 75px;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
}

#cost-box {
	position: absolute;
	bottom: 0;
	width: 100%;

	display: flex;
	justify-content: space-around;
}


/* --------------------------------- Dialog --------------------------------- */

dialog {
	width: 400px;
	top: 40%;
}
