/* ------------------------------- Main layout ------------------------------ */

html, body {
	height: 100%
}

body {
	display: grid;
	grid-template-columns:1fr;
	grid-template-areas:
					"header"
					"main";
	grid-template-rows: 70px 1fr;
	margin: 0;
}

header {
	grid-area: header;
}

#main {
	grid-area: main;
}


/* --------------------------------- Header --------------------------------- */

header {
	display: grid;
	grid-template-columns: auto 90px;
	place-items: center;
}


/* ------------------------------- Form layout ------------------------------ */

#main {
	display: flex;
	flex-direction: column;
}


/* ---------------------------- Form hiding stuff --------------------------- */

#form > * {
	transition: all 0.5s ease-in-out;
}

#form > .display-none {
	display: none;
}

#form > .opacity-zero {
	opacity: 0;
}


/* --------------------------- Floating visualiser -------------------------- */

#results-box {
	position: fixed;
	bottom: -610px;
	left: calc(50vw - calc(950px / 2));

	width: 950px;
	height: 600px;

	transition: all 0.75s ease-in-out;
}

#results-box.show {
	bottom: 2em;
}

#results-box.shrink {
	bottom: calc(-600px + 2em);
}

#results-box canvas {
	position: absolute;
	top: 0;
	left: 100px;
	z-index: -1;
}

.cam-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.room-info {
	position: absolute;
	top: 0;
	right: 0;

	display: grid;
	grid-template-columns: 1.2fr 1fr;
	grid-template-rows: 1fr min-content 1fr;
	align-items: center;
	width: 15rem;
	height: 75%;


}

#cost-box {
	position: absolute;
	right: 0;
	bottom:0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 15rem;
	height: 25%;
}


/* --------------------------------- Dialog --------------------------------- */

dialog {
	top: 40%;

	width: 400px;
}
