/* --------------------------------- Colours -------------------------------- */

:root {
	--kcl-dark-blue:			#0a2d50;
	--kcl-blue-grey-dark:		#464e52;
	--kcl-blue-grey:			#5a6369;
	--kcl-blue-grey-light-1:	#8b9296;
	--kcl-blue-grey-light-2:	#cdd7dc;
	--kcl-blue-grey-light-3:	#e6ebed;
	--kcl-blue-grey-light-4:	#eff2f3;
	--kcl-grey:					#666666;
	--kcl-red-darker:			#b61c14;
	--kcl-red:					#e22319;
	--kcl-red-light:			#be4943;
	--kcl-red-lighter:			#eb655e;
	--kcl-shadow:				#00000040;
}


/* ---------------------------------- Fonts --------------------------------- */

@font-face {
	font-family: "KingsBureauGrotFiveOne";
	src: url("res/KingsBureauGrot-FiveOne.ttf");
}

@font-face {
	font-family: "KingsBureauGrotThreeSeven";
	src: url("res/KingsBureauGrot-ThreeSeven.ttf");
}

@font-face {
	font-family: "KingsCaslonTextRegular";
	src: url("res/KingsCaslon.ttf");
}


/* ------------------------------- Whole page ------------------------------- */

body {
	overflow-y: scroll;

	color: var(--kcl-grey);

	font-family: "KingsBureauGrotFiveOne", sans-serif;
	font-size: 18px;
}

h1 {
	margin-top: 5rem;
	margin-left: 5rem;

	color: black;

	font-family: "KingsBureauGrotThreeSeven", sans-serif;
	font-size: 2.375rem;
	font-weight: 400;
}


/* ----------------------------- Header styling ----------------------------- */

header {
	background-color: var(--kcl-blue-grey);
}

header div {
	color: white;

	font-size: 21px;
}

header button {
	background-color: var(--kcl-red);
	box-shadow: 0 5px var(--kcl-red-darker);

}

header button:hover {
	background-color: var(--kcl-red-lighter);
	box-shadow: 0 5px var(--kcl-red-light);
}

.logo {
	position: absolute;
	top: 0;
	left: 5rem;

	display: block;
	width: 130px;
	height: 100px;

	background: url(/res/kcl-logo.svg) center top no-repeat;
}


/* ------------------------------ Form styling ------------------------------ */

#main {
	align-items: center;

	transition: all 0.75s ease-in-out;
}

#main.results-space {
	padding-bottom: calc(600px + 4em);
}

#main.results-shrink {
	padding-bottom: 4em;
}


#form {
	width: 50em;
}

#form p {
	color: var(--kcl-dark-blue);

	font-family: "KingsCaslonTextRegular", "Times New Roman", Times, serif;
	font-size: 24px;
}

input:focus {
	outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;

	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;

	padding: 3px 7px;
	border: 3px solid var(--kcl-blue-grey-light-2);
	border-radius: 5px;

	font-family: "KingsBureauGrotThreeSeven", sans-serif;
}

input[type=range] {
	-webkit-appearance: none;
	display: block;
	width: 20em;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 20px;
	border-radius: 25px;

	background: var(--kcl-blue-grey-light-3);
}

input[type=range]::-moz-range-track {
	height: 20px;
	border-radius: 25px;

	background: var(--kcl-blue-grey-light-3);
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;

	height: 20px;
	width: 20px;
	border-radius: 50px;

	background: var(--kcl-dark-blue);
	box-shadow: 1.5px 1.5px 5px var(--kcl-shadow);
}

input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border: none;
	border-radius: 50px;

	background: var(--kcl-dark-blue);
	box-shadow: 1.5px 1.5px 5px var(--kcl-shadow);
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--kcl-blue-grey-light-4);
}

input[type=radio] {
	margin-right: 0.5em;
}

.option-flex {
	display: flex;
	flex-wrap: wrap;
}

.option-flex label {
	width: 20em;

	line-height: 2em;
}

.input-text {
	display: inline-block;
	width: 4em;

	color: var(--kcl-grey);
}


/* --------------------------- Visualiser styling --------------------------- */

#results-box {
	border-radius: 5px;

	background-color: var(--kcl-blue-grey-light-3);
	box-shadow: 0 5px 15px var(--kcl-shadow);
}

.cam-buttons {
	height: calc(100% - 2em);
	padding: 1em;
	margin: 1em;

	font-size: 0.7em;
}

.room-info {
	border-radius: 0 5px 0 0;

	background-color: var(--kcl-blue-grey);
	color: white;
	box-shadow: inset 15px 0 15px -15px black;

	font-family: "KingsBureauGrotThreeSeven", sans-serif;
}

.room-info > * {
	margin: 1em 0.25em;
}

.room-info > *:nth-child(-n+2) {
	align-self: flex-end;
}

.room-info > *:nth-last-child(-n+2) {
	align-self: flex-start;
}

.room-info p {
	text-align: right;
}

.room-info span {
	color: var(--kcl-blue-grey-light-3);

	font-family: 'Segoe UI', Tahoma, sans-serif;
}

#cost-box {
	border-radius: 0 0 5px 0;

	background-color: var(--kcl-dark-blue);
	color: white;
	box-shadow: inset 15px 15px 15px -15px black;

	font-family: "KingsBureauGrotThreeSeven", sans-serif;
	font-size: 24px;
}

#cost-box > * {
	margin: 0;
}

/* Before elements to create the rounded edges on the results/cost boxes */
.room-info::before, #cost-box::before {
	position: absolute;
	left: -5px;
	z-index: 1;

	display: block;
	height: 100%;
	padding: 0 5px;
	border-radius: 0 5px 0 0;

	background-color: var(--kcl-blue-grey-light-3);

	content: "";
}

#cost-box::before {
	border-radius: 0 0 5px 0;
}


/* --------------------------------- Dialog --------------------------------- */

dialog {
	border: none;
	border-radius: 5px;

	background-color: var(--kcl-blue-grey-light-3);
	box-shadow: 0 5px 15px var(--kcl-shadow);
}

dialog button {
	width: 6em;
	margin: 0.5em;
}

.dialog-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dialog-flex p {
	width: 100%;
}


/* --------------------------------- Buttons -------------------------------- */

button {
	width: 4em;
	height: 4em;
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	margin-bottom: 5px;

	background-color: var(--kcl-blue-grey);
	color: white;
	box-shadow: 0 5px var(--kcl-blue-grey-dark);

	font-family: "KingsBureauGrotThreeSeven", sans-serif;

	outline: 0;
}

button:hover {
	background-color: var(--kcl-blue-grey-light-1);
	box-shadow: 0 5px var(--kcl-blue-grey);
}

header button:active, button:active {
	transform: translateY(5px);

	box-shadow: none;
}

#shrink-results {
	position: absolute;

	width: auto;
	height: auto;
	opacity: 0.5;

	background: none;
	box-shadow: none;
	color: var(--kcl-blue-grey);

	transition: transform 0.5s ease;
}

#shrink-results:hover {
	color: var(--kcl-blue-grey);
}

#shrink-results:active {
	transform: none;
}

#shrink-results.rotate {
	transform: rotate(-180deg);
}


/* ------------------------ Temporary debug elements ------------------------ */

.debug-options {
	padding: 1em;
	margin-top: 3em;

	background-color: #ffe1e1;
}

#form .debug-options p:first-child {
	margin-top: 0;
}
