body {
	font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------------- Header styling ----------------------------- */

header {
	background-color: #5a6369;
}

header div {
	font-size: 21px;
	color: #ffffff;
}

/* ------------------------------ Form styling ------------------------------ */

#form p {
	margin-top: 3em;
}

#form span {
	color: #899197;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=range] {
	display: block;
}

/* ----------------------------- Footer styling ----------------------------- */

footer {
	background-color: #ffff00;
}

/* ----------------------------- Canvas styling ----------------------------- */

#visualiser {
	margin-top: 3em;
	justify-self: center;

	border: 1px solid #cdd6db;
}

/* ------------------------ Temporary debug elements ------------------------ */

.debug-options {
	margin-top: 3em;
	padding: 1em;
	background-color: #ffe1e1;
}

#form .debug-options p:first-child {
	margin-top: 0;
}
